{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: #fff;
    color: #333;
  }
  
  /* Cabeçalho */
  header {
    background-color: #f48fb1; /* rosa claro */
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 2rem;
  }
  
  nav ul {
    list-style: none;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Banner */
  #banner {
    background-color: #fce4ec; /* rosa bem claro */
    padding: 40px;
    text-align: center;
    color: #ad1457;
  }
  
  #banner h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  /* Produtos */
  main {
    padding: 40px 20px;
  }
  
  #produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .produto {
    background-color: #fff;
    border: 2px solid #f8bbd0;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .produto img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .produto h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #d81b60;
    
  }
  
  .produto p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 15px;
  }
  
  .btn-comprar {
    display: inline-block;
    background-color: #f06292;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .btn-comprar:hover {
    background-color: #ec407a;
  }

  
  .produto button:hover {
    background-color: #ec407a;
  }
  
  /* Rodapé */
  footer {
    background-color: #f48fb1;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
  }